{% extends 'base.html' %}

{% block title %}ZIP Turist{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!--===============================================================================================-->
<!--===============================================================================================-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
<link rel="stylesheet" href="{{ url_for('static', filename='js/main.js') }}">
{% endblock %}

{% block body %}
<div class="limiter" >
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(./static/images/login.jpg);">
                <span class="login100-form-title-1">
                    login 
                </span>
            </div>
            {% with messages = get_flashed_messages() %}

            {% if messages %}
            <br />
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        
            {% endwith %}
            <form class="login100-form validate-form" action="/login" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Correo</span>
                    <input class="input100" type="email" name="correo_Usuario" required="" placeholder="" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Contraseña</span>
                    <input class="input100" type="password" name="contraseña_Usuario" required="" placeholder="" pattern="[A-Za-z0-9!?-]{8,20}" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    </div>

                    <div>
                        <a href="{{ url_for('singup') }}" class="txt1">
                            Sing Up
                        </a>
                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
